@font-face {
  font-family: 'STIX Two Math';
  src: url('../fonts/STIXTwoMath.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('../fonts/STIXTwoText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('../fonts/STIXTwoText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('../fonts/STIXTwoText-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('../fonts/STIXTwoText-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('../fonts/STIXTwoText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('../fonts/STIXTwoText-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('../fonts/STIXTwoText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('../fonts/STIXTwoText-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

.Math-BlockBase {
  padding: 1rem;
  padding-left: 2rem;
  padding-top: 4rem;
  margin: 1.5rem 0;
  font-size: 1rem;
  position: relative;
}

.Math-Block {
  padding: 1rem;
  padding-left: 2rem;
  padding-top: 4rem;
  margin: 1.5rem 0;
  font-size: 1rem;
  position: relative;
  border-radius: 1rem;
}

.Math-Rounded {
  border-radius: 1rem;
}

.Math-Block.Math-Rounded {
  --border-color: #232323;
  --label-bg: #232323;
  background-color: #F0EFEC;
  color: #232323;
  border-radius: 1rem;
}

.Math-Block.Math-Rounded::before {
  content: attr(data-label);
  font-size: 0.9rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: var(--label-bg, #333);
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

html, body {
  font-family: 'STIX Two Math', 'Manrope', serif;
  font-weight: 400;
  line-height: 1.9rem;
  font-size: 1rem;
  background-color: #DAD8CF;
  color: #232323;
  margin: 0;
  padding: 1rem;
  overflow: auto;
}

html.no-scroll, body.no-scroll {
  overflow: hidden;
}
  
  #rive-canvas {
    display: block;
    width: 100%;
  }
  
    .math-sublabel {
      font-size: 0.7rem;
      font-weight: 500;
      color: #FFFFFF;
      background-color: var(--label-bg, #333);
      border-radius: 4px;
      padding: 2px 8px;
      position: absolute;
      top: 3.2rem;
      left: 1rem;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }